<div class="container py-2">
  <div class="row">
    <aside class="col side-navbar">
      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-3 px-3", id: "twitter-logo-link" do %>
        <div class="p-2 rounded-circle">
          <i class="bi bi-twitter"></i>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-3" do %>
        <div class="d-flex px-4 py-2 rounded-pill">
          <i class="bi bi-house-door"></i><div class="ms-4">Home</div>
        </div>
      <% end %>

      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-3" do %>
        <div class="d-flex px-4 py-2 rounded-pill">
          <i class="bi bi-search black-icon"></i><div class="ms-4">Explore</div>
        </div>
      <% end %>
      
      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-3" do %>
        <div class="d-flex px-4 py-2 rounded-pill">
          <i class="bi bi-bell black-icon"></i><div class="ms-4">Notificaitions</div>
        </div>
      <% end %>
      
      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-3" do %>
        <div class="d-flex px-4 py-2 rounded-pill">
          <i class="bi bi-envelope black-icon"></i><div class="ms-4">Messages</div>
        </div>
      <% end %>
      
      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-3" do %>
        <div class="d-flex px-4 py-2 rounded-pill">
          <i class="bi bi-bookmark black-icon"></i><div class="ms-4">Bookmarks</div>
        </div>
      <% end %>
      
      <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-3" do %>
        <div class="d-flex px-4 py-2 rounded-pill">
          <i class="bi bi-person black-icon"></i><div class="ms-4">Profile</div>
        </div>
      <% end %>

      <div class="d-flex align-items-center fs-5 mb-1 px-4">
        <%= button_tag "Tweet", class:"btn btn-twitter btn-lg w-100 rounded-pill"%>
      </div>
      
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: 'twitter-link px-4' %>

    </aside>
    <div class="col-6">
      <%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
        <%= f.text_field :body %>
        <%= f.submit "Create Tweet", class: 'btn btn-primary' %>
      <% end %>
      <ul>
        <% Tweet.find_each do |tweet| %>
          <li><%= tweet.body %></li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      Col3
    </div>
  </div>
</div>
